:root {
  --blue: #1da1f2;
  --buttonHoverBg: #d4edff;
  --lightGrey: rgb(230, 236, 240);
  --spacing: 15px;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 19px;
  font-weight: 800;
  margin: 0;
}

a:hover {
  color: inherit;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: black;
  height: 100%;
}

nav a {
  /* display: block; */

  padding: 10px;

  font-size: 30px;

  width: 55px;

  height: 55px;

  display: flex;

  align-items: center;

  justify-content: center;

  color: black;
}

nav a.blue {
  color: var(--blue);
}

nav a:hover {
  background-color: var(--buttonHoverBg);
  color: var(--blue);
  border-radius: 50%;
}

nav a.blue:hover {
  color: black;
}

.mainSectionContainer {
  /* background-color: aqua; */
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
  display: flex;
  flex-direction: column;
  padding: 0;
}

.titleContainer {
  height: 53px;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--lightGrey);
  flex-shrink: 0;
}

.titleContainer h1 {
  flex: 1;
}
